{% extends 'base.html' %}
{% block width %}wide{% endblock %}
{% block content %}
    <header>
      <p class="label">Wikidata polymers</p>
      <h1>Polymers</h1>
    </header>

    <p class="intro">The {{ polymers|length }} polymers and types of polymer in Wikidata, by QID.
      {{ with_structure }} of them have a chemical structure as
      <a href="https://egonw.github.io/cdk-cxsmiles/">CXSMILES</a>. Open a polymer to see its
      physicochemical properties and where they come from.</p>

    {% set tiles = polymers %}
    {% include '_includes/polymer_grid.html' %}
{% endblock %}
